<iron-iconset-svg name="fs" size="16">
    <svg>
        <defs>
            <g id="alert">
                <path d="M11.9997 16.1326C11.3847 16.1326 10.8691 16.6482 10.8691 17.2633C10.8691 17.8783 11.3847 18.3939 11.9997 18.3939C12.5922 18.3939 13.1303 17.8783 13.1032 17.2904C13.1303 16.6437 12.6193 16.1326 11.9997 16.1326Z"
                      fill="#C2CFE0"/>
                <path d="M22.4647 20.1395C23.1747 18.9139 23.1792 17.4532 22.4737 16.2321L15.3916 3.96726C14.6906 2.73263 13.4243 2 12.0043 2C10.5842 2 9.31792 2.73716 8.61694 3.96274L1.52576 16.2412C0.820255 17.4758 0.824777 18.9456 1.53932 20.1711C2.24482 21.3832 3.50659 22.1113 4.91759 22.1113H19.0638C20.4793 22.1113 21.7501 21.3741 22.4647 20.1395ZM20.927 19.2531C20.5336 19.9315 19.8371 20.334 19.0593 20.334H4.91306C4.14425 20.334 3.45232 19.9405 3.06791 19.2757C2.67898 18.6019 2.67446 17.7969 3.06339 17.1185L10.1546 4.84461C10.539 4.17077 11.2264 3.77279 12.0043 3.77279C12.7776 3.77279 13.4695 4.17529 13.8539 4.84913L20.9406 17.123C21.3205 17.7833 21.316 18.5793 20.927 19.2531Z"
                      fill="#C2CFE0"/>
                <path d="M11.7193 8.19574C11.1811 8.3495 10.8464 8.83792 10.8464 9.43036C10.8736 9.78764 10.8962 10.1494 10.9233 10.5067C11.0002 11.868 11.0771 13.2021 11.154 14.5633C11.1811 15.0246 11.5384 15.3593 11.9997 15.3593C12.4609 15.3593 12.8227 15.002 12.8454 14.5362C12.8454 14.2558 12.8454 13.998 12.8725 13.7131C12.9222 12.8403 12.9765 11.9675 13.0263 11.0946C13.0534 10.5293 13.1031 9.96401 13.1303 9.39871C13.1303 9.1952 13.1031 9.0143 13.0263 8.8334C12.7956 8.32689 12.2574 8.06911 11.7193 8.19574Z"
                      fill="#C2CFE0"/>
            </g>
        </defs>
    </svg>
</iron-iconset-svg>