html {
    --opr-gray: #F5F6F8;
    --opr-border-color: #C2CFE0;
    --fs-menu-item-color: #334D6E;
    --fs-menu-item-hover-color: #2F80ED;
    --fs-breadcrub-color: #9BABC0;
}

.fs-left-menu-item {
    color: var(--fs-menu-item-color);
    cursor: pointer;
}

.fs-left-menu-item .fs-menu-item-label {
    font-style: normal;
    font-size: 18px;
    width: 100%;
}

.fs-left-menu-item:hover {
    color: var(--fs-menu-item-hover-color);
}

.fs-left-menu-subitem {
    color: var(--fs-menu-item-color);
    cursor: pointer;
    margin-left: 50px;
}

.fs-left-menu-subitem.fs-third {
    margin-left: 80px;
}

.fs-left-menu-subitem:hover {
    color: var(--fs-menu-item-hover-color);
}

.fs-no-resource-label {
    font-size: 26px;
    font-weight: bold;
}

.fs-worktable-details[opened] {
    height: 100%;
}

.fs-worktable-details {
    height: unset;
}

.fs-worktable-details[opened] vaadin-grid {
    min-height: 300px;
    max-height: 300px;
}

.fs-worktable-details[single-open=true] vaadin-grid {
    min-height: 600px;
    max-height: 600px;
}

.fs-breadcrumbs {
    margin-left: 20px;
    margin-top: 0;
    color: var(--fs-breadcrub-color);
}

.fs-globe-icon {
    color: #2F80ED;
    cursor: pointer;
}

.fs-alert-round-sign {
    background-color: #E61C41;
    width: 25px;
    height: 23px;
    border-radius: 100px;
    align-items: center;
    text-align: center;
}

.fs-rule-name-label {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;

    color: #334D6E;
}

.fs-rule-card-label {
    align-self: flex-start;
    color: var(--lumo-secondary-text-color);
    font-weight: 500;
    font-size: var(--lumo-font-size-s);
    margin-left: calc(var(--lumo-border-radius-m) / 4);
    transition: color 0.2s;
    line-height: 1;
    padding-bottom: 0.5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    max-width: 100%;
    box-sizing: border-box;
}

.fs-drop-layout {
    border: 2px dashed #C2CFE0;
    box-sizing: border-box;
    border-radius: 2px;
}

.fs-h2-label {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 19px;
}

.fs-condition-layout {
    border-left: 2px dashed #DDE4ED;;
    border-right: 2px dashed #DDE4ED;;
}

.fs-condition-button {
    max-width: 50px;
    max-height: 50px;
    min-width: 50px;
    min-height: 50px;
    cursor: pointer;
}

.fs-menu-item[selected=true] {
    color: #2F80ED;
    font-weight: bold;
}

.fs-menu-item[selected=false] {
    color: var(--fs-menu-item-color);
    font-weight: normal;
}

.fs-dialog-label-layout {
    margin: 0;
}

.fs-dialog-label {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    width: 100%;
}

.opr-gray-layout {
    background-color: var(--opr-gray);
}

.opr-label {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #334D6E;
}

.opr-card-entity {
    width: 100%;
    border: 1px solid #E0E0E0;
}

.opr-action-button {
    /* Gradient / White */
    background: linear-gradient(180deg, #FFFFFF 0%, #F5F6F8 100%);
    border: 1px solid #C2CFE0;
    box-sizing: border-box;
    border-radius: 4px;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    width: 240px;
    height: 40px;

    /* Dark */
    color: #334D6E;

}

.fs-form-item-with-border {
    border-bottom: 1px solid #E0E0E0;
    color: #334D6E;
}

.opr-phone-button {
    background: linear-gradient(180deg, #FFFFFF 0%, #F5F6F8 100%);
    border: 1px solid #C2CFE0;
    box-sizing: border-box;
    border-radius: 4px;
}