[part="input-field"] {
    box-shadow: inset 0 0 0 1px var(--lumo-contrast-30pct);
    background-color: var(--lumo-base-color);
}

:host([invalid]) [part="input-field"] {
    box-shadow: inset 0 0 0 1px var(--lumo-error-color);
}

:host([disabled]) [part="label"], :host([disabled]) [part="value"], :host([disabled]) [part="input-field"] ::slotted(*) {
    --lumo-disabled-text-color: var(--lumo-secondary-text-color)
}

:host([disabled]) [part="input-field"] {
    color: var(--lumo-secondary-text-color);
}